.education-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.education-header-and-line-div {
    display: flex;
    flex-direction: column;
}

.education-header {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.under-education-header-line {
    width: 100%;
    height: 4px;
    background-color: var(--last-name-header-color);
}

.education-instances-div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}